venv/
.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
.DS_Store

X_train_seq.npy
X_val_seq.npy
y_train_seq.npy
y_val_seq.npy
merged_train.csv

train_FD001.txt
train_FD002.txt
train_FD003.txt
train_FD004.txt
test_FD001.txt
test_FD002.txt
test_FD003.txt
test_FD004.txt
RUL_FD001.txt
RUL_FD002.txt
RUL_FD003.txt
RUL_FD004.txt